@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-cont{
    width: 350px;
    padding: 10px;
}
.switch-box{
    width: 40px;
    height: 20px;
    background-color: #333;
    margin: 0 auto 15px;
    padding: 3px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    
}
.switch{
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius:50% ;
    transition: .5s;
    
}
.show-login{
    left:3px
}
.show-register{
    left: calc(100% - 17px);
}
.authCont{
    perspective: 1000px;
}
.authCard{
    width: 100%;
    min-height: 400px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.showRegister{
    transform: rotateY(180deg);
}
.login,.register{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    backface-visibility: hidden;
}
.register{
    transform: rotateY(180deg);
}
.submitButton{
    @apply transition-all absolute w-1/2 bottom-5 py-1 left-[50%] translate-x-[-50%] border-2 border-green-600 rounded-lg text-green-600 hover:bg-green-600 hover:text-white
}

.blue_gradient{
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent
}
.purpl_gradient{
    @apply bg-gradient-to-r from-purple-900 to-violet-600 
}
.gray_gradient{
    @apply bg-gradient-to-r from-gray-200 to-zinc-300 
}

.spinner_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.spinner{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #888;
    position: absolute;
    animation: spinner .8s infinite linear normal;
}
.spinner::after{
    content: "";
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 6px solid #444;
    border-color: transparent transparent transparent #444;
    border-radius: 50%;
}

@keyframes spinner{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
